<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<div th:replace="~{fragments/head.html :: head}"></div>

<body>

<div th:replace="~{fragments/nav.html :: nav}"></div>

    <main class="container mt-4">
        <h4 class="mb-3">Add Transaction</h4>
            <form method="post">
                <div class="form-floating mb-3">
                    <input class="form-control" id="userInput">
                    <label for="userInput">User Name:</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" id="dateInput">
                    <label for="dateInput">Date:</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" id="amountInput">
                    <label for="amountInput">Amount:</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" id="vendorInput">
                    <label for="vendorInput">Vendor</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" id="noteInput">
                <label for="noteInput">Note:</label>
                </div>
                <div class="form-floating mb-3">
                    <select class="form-select" id="categoriesSelect" name="categories">
                        <option th:each="category: ${categories}" th:text="${category.categoryName}">
                        </option>
                    </select>
                    <label for="categoriesSelect">Categories</label>
                </div>
                <input class="btn btn-info" type="submit" value="Submit">
            </form>
    </main>
</body>
</html>