<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<div th:replace="~{fragments/head.html :: head}"></div>
<body>

<div th:replace="~{fragments/nav.html :: nav}"></div>

<main class="container mt-4">
    <h4>Users</h4>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user:${users}">
            <td th:text="${user.userId}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>